* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: gray;
    margin: 30px;
    
}
#heading {
    background: linear-gradient(135deg,  #644473 0%, #454545 100%);
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 30px;
    color: white;
    font-style: italic;
    text-transform: capitalize;
    transition: scale 0.3s ease;
}
#heading:hover {
    transform: scale(1.1);
}